<h1>Chicago Housing Rentals</h1>

  <ul>
    <% if (user) { %>
    <li><a href="/listings" style="color:#FFFFFF">Home</a></li> |
    <% } else { %>
    <li><a href="/">Home</a></li> |
    <% } %>
    <li><a href="/about" style="color:#FFFFFF">About</a></li> |
    <% if (user) { %>
      <li class="topnav-right"><a href="/signout" style="color:#FFFFFF">Sign Out</a></li>
      <% if (userType == "host") { %>
        <li class="topnav-right"><a href="/profile/host/<%= user.host_id %>" style="color:#FFFFFF">My Profile</a></li>
        <li class="topnav-right"><a style="color:#FFFFFF">Welcome, <%= user.host_id %></a></li> |
        <li><a href="/listing/create" style="color:#FFFFFF">Create New Listing</a></li>
        <li><a href="/profile/host/<%= user.host_id %>/listings" style="color:#FFFFFF">My Listings</a></li>
        <li><a href="/profile/host/<%= user.host_id %>/bookings %>">My Bookings</a></li>
        <li><a href="/profile/host/<%= user.host_id %>/booking-history %>">My Booking History</a></li>
      <% } else { %>
        <li><a href="/profile/tenant/<%= user.tenant_id %>/bookings %>">My Bookings</a></li>
        <li><a href="/profile/tenant/<%= user.tenant_id %>/booking-history %>">My Booking History</a></li>
        <li class="topnav-right"><a href="/profile/tenant/<%= user.tenant_id %>" style="color:#FFFFFF">My Profile</a></li>
        <li class="topnav-right"><a style="color:#FFFFFF">Welcome, <%= user.tenant_id %></a></li> |
      <% } %>
    <% } %>
  </ul>

<br>
