<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">
          <% include partials/navigation %>
    			<h3><%= page %></h3><br>
            <% theListing.forEach( c => { %>
  					<div>
    					  <h3><a href="http://localhost:3000/listings/<%= c.id %>"><%= c.name %></a><h2>
                <img width="960" height="540" src="<%= c.picture_url %>" />
    					  <p> <%= c.description %> </p>
                <p><a href="http://localhost:3000/host/profile/<%= c.host_id %>"><%= c.host_id %></a><p>
  					</div><br>
      			<% }) %>
    	</div>
	</div>
  </body>
</html>
