<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">

          <% include partials/navigation %>
          <h3><%= page %></h3><br>
          
          <% if (host) { %>
            <h3>Host Name: <%= host.host_name %></h3>
            <h3>Rating</h3>
            <h3>Host Since: <%= host.host_since %></h3>
            <h3>About: <%= host.host_about %> </h3>
            <h3>Location: <%= host.host_location %> </h3>
            <h3>Neighborhood: <%= host.host_neighbourhood %> </h3>
            <h3>Total Listings: <%= host.host_listings_count %></h3><br>

            <h3><a href="/profile/host/<%= host.host_id %>/listings %>">My Listings</a></h3>
            <h3><a href="/profile/host/<%= host.host_id %>/bookings %>">My Bookings</a></h3>
            <h3><a href="/profile/host/<%= host.host_id %>/booking-history %>">My Booking History</a></h3>

          <% } else { %>
            <h3><%= message %></h3>
          <% } %>

        </div>
    	</div>
	</div>
  </body>
</html>
