<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">

          <% include partials/navigation %>
          <h3><%= page %></h3><br>

          <% if (tenant.id == user.id) { %>
            <form id="edit_profile-form">

    			      <h3>First Name: </h3><input id="fname" type="text" style="margin-bottom:3px" placeholder="First Name" value =<%= tenant.first %>></input><br>
                <h3>Last Name: </h3><input id="lname" type="text"  style="margin-bottom:3px" placeholder="Last Name" value =<%= tenant.last %>></input><br>
                <p class="error" id="t-profile-edit-error"></p>

                <input id="submitButton" type="submit" value="Save"></input>
                <input id="tenant_id" name="tenant_id" type="text" hidden=True value="<%= user.tenant_id %>"></input>
            </form>


          <% } else { %>
            <h3><%= message %></h3>
          <% } %>

        </div>
    	</div>
	</div>
  <script src="/javascripts/profileEditor.js"></script>
  <script>
        const edit_profileForm = document.querySelector('#edit_profile-form');

        edit_profileForm.addEventListener('submit', (event) => {

            // disable default action
            event.preventDefault();

            edit_tenant_profile();
        });
  </script>
  </body>
</html>
