<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  
  <body>
    
    <div class="container-fluid">
        <div class="row">
    	    <div class="col-12"> 
                <% include partials/navigation %>
               
          <h2><%= page %></h2><br>
          
            <% if (user.host_id == host_id) { %>

             <table class="table table-striped table-primary">
              <thead>
                <tr>  
                  <th>Booking</th>
                  <th>Listing</th>
                  <th>Tenant</th>
                  <th>Price</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Schedule Date</th>
                  <th>Cancel</th>
                </tr>
              </thead>
              <tbody>

                <% if (bookingArray.length >0) { %>
                    <% bookingArray.forEach(function(row){ %>
                    <tr>
                      <td><a href="/profile/host/booking/<%= row.booking_id %>">Details</a></td>
                      <td><a href="/listing/<%= row.listing_id %>"><%= row.listing_id %></a></td>
                      <td><a href="/profile/tenant/<%= row.tenant_id %>"><%= row.tenant_id %></a></td>
                      <td>$<%= row.price %></td>
                      <td><%= row.date_start.getMonth()+1 %>/<%= row.date_start.getDate() %>/<%= row.date_start.getFullYear() %></td>
                      <td><%= row.date_end.getMonth()+1 %>/<%= row.date_end.getDate() %>/<%= row.date_end.getFullYear() %></td>
                      <td><%= row.schedule_date %></td>
                      <td><input id="delete_booking_<%= row.booking_id %>" name="<%= row.booking_id %>" type="submit" value="Delete"></input></td>
                    </tr>
                    <script>
                      deleteButtons = document.getElementsByTagName("input");
                      booking_ids = []
                      for (var i=0; i<deleteButtons.length; i++) {
                        var booking_id = deleteButtons[i].name;

                        deleteButtons[i].addEventListener('click', (event) => {
                            console.log(event);
                            fetch('https://assignment-294422.uc.r.appspot.com/booking/'+event.srcElement.name, {
                              method: 'DELETE',
                              headers: {
                                'Content-Type': 'application/json'
                              }
                            }).then(res => res.json())
                              .then(data => {
                                window.location.reload();
                              });
                           });
                      }
                    </script>
                    <% })}else{ %>
                        <tr>
                            <td colspan="6">No bookings Found</td>
                            
                        </tr>
                    <% } %>

              
              </tbody>
            </table>
            <% } else { %>
              <h5>You do not have access to another user's bookings.</h5>
            <% } %>
          </div>
        </div>
  </div>
  </body>
</html>
