<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">

          <% include partials/navigation %>
          <h2><%= page %></h2><br>

          <% if (host) { %>
            <h3>Host Name: <%= host.host_name %></h3>
            <h3>Phone: <%= host.host_phone %></h3>
            <br>
            <h3>About:</h3><p><%= host.host_about %> </p>
            <h3>Host Since: <%= host.host_since %></h3>
            <h3>Neighborhood: <%= host.host_neighbourhood %> </h3><br>

            <% if (user.host_id == host.host_id) { %>

            <h3><a href="/profile/host/<%= host.host_id %>/edit_profile %>">Edit Profile</a></h3>
            <% } %>

          <% } else { %>
            <h3><%= message %></h3>
          <% } %>

        </div>
    	</div>
	</div>
  </body>
</html>
