<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>

    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">

                <% include partials/navigation %>
                <h2><%= page %></h2><br>

                <% if (user.host_id == host_id) { %>


                <h5 id="error-msg" class="error"></h5><br>

                <% if (listingArray.length > 0) { %>

                <% listingArray.forEach( c => { %>
                    <div>
                        <h2>Property <a href="/listing/<%= c.id %>"><%= c.name %></a><h2>

                        <% if (c.picture_url) { %>
                            <img width="960" height="540" src="<%= c.picture_url %>" />
                        <% } else { %>
                            <img width="960" height="540"/>
                        <% } %>

                        <div>
                          <% if (user.host_id == host_id) { %>
                          <a href="http://localhost:3000/listing/<%= c.id %>/edit"> Edit </a>
                          <input id="delete_listing_<%= c.id %>" name="<%= c.id %>" type="submit" value="Delete"></input><br><br>

                          <%}%>
                          <h3>Price: $<%= c.price %></h3>

                          <table>
                            <tr>
                              <td style="padding-right:16px;">
                                <h3>Room Type: <%= c.room_type %></h3>
                              </td>
                              <td style="padding-right:16px;">
                                <h3>Neighborhood: <%= c.neighborhood_cleansed %></h3>
                              </td>
                            </tr>
                            <tr>
                              <td style="padding-right:16px;">
                                <h3>Bathrooms: <%= c.bathrooms %></h3>
                              </td>

                              <td style="padding-right:16px;">
                                <h3>Bedrooms: <%= c.bedrooms %></h3>
                              </td>

                              <td style="padding-right:16px;">
                                <h3>Beds: <%= c.beds %></h3>
                              </td>
                            </tr>

                          </table>


                        </div>
                        <h3>Description:</h3>
                          <p><%= c.description %></p>
                        <script>

                          var deleteButtons = document.getElementsByTagName("input");
                          var errorMessage = document.getElementById("error-msg");
                          var listing_ids = []
                          for (var i=0; i<deleteButtons.length; i++) {
                            var listing_id = deleteButtons[i].name;

                            deleteButtons[i].addEventListener('click', (event) => {
                                console.log(event);
                                fetch('http://localhost:3000/listing/'+event.srcElement.name, {
                                  method: 'DELETE',
                                  headers: {
                                    'Content-Type': 'application/json'
                                  }
                                }).then(res => res.json())
                                  .then(json => {
                                    console.log(json);
                                    if (json.message) {
                                      errorMessage.innerText = json.message;

                                    } else {
                                      window.location.reload();
                                    }

                                  })
                                  .catch(err => console.error(err));
                               });
                          }

                        </script>
                    </div>
                    <br><br>
                <% }) %>
                <% } else { %>

                  <h3>No listings to display.</h3>
                  <a href="http://localhost:3000/listing/create">Click to create one now</a>

                <% } %>

                <% } else { %>
                  <h5>You do not have access to another user's listings.</h5>
                <% } %>

            </div>
    	</div>
	</div>

  </body>
</html>
