<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">
          <% include partials/navigation %>
    			<h3><%= page %></h3><br>
          <% if (tenant) { %>
            <h3>Tenant Name: <%= tenant.first %> <%= tenant.last %></h3>
            <h3>Rating</h3><br>

            <h3><a href="/profile/tenant/<%= tenant.tenant_id %>/bookings %>">My Bookings</a></h3>
            <h3><a href="/profile/tenant/<%= tenant.tenant_id %>/booking-history %>">My Booking History</a></h3>
          <% } else { %>
            <h3><%= message %></h3>
          <% } %>
        </div>
    	</div>
	</div>
  </body>
</html>
