<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">
          <% include partials/navigation %>
    			<h2><%= page %></h2><br>
          <% if (tenant) { %>
            <h3>Tenant Name: <%= tenant.first %> <%= tenant.last %></h3>
            <h3>Phone Number: <%= tenant.tenant_phone.toString() %></h3><br>

            <% if (user.tenant_id == tenant.tenant_id) { %>

            <h3><a href="/profile/tenant/<%= tenant.tenant_id %>/edit_profile %>">Edit Profile</a></h3>
            <% } %>
          <% } else { %>
            <h3><%= message %></h3>
          <% } %>
        </div>
    	</div>
	  </div>
  </body>
</html>
