<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">

          <% include partials/navigation %>
          <h3><%= page %></h3><br>

          <% if (host) { %>
            <form id="h-profile-edit-form">

    			      <h3>Host Name: </h3><input id="host_name" type="text" placeholder="Host Name" style="margin-bottom:3px" value =<%= host.host_name %>></input><br>
                <h3>About: </h3><textarea id="description" placeholder="About" name="description" style="margin-bottom:3px" value =<%= host.host_about %>></textarea><br>
                <h3>Location: </h3><input id="host_location" type="text"  placeholder="Host City" style="margin-bottom:3px"  value =<%= host.host_location %>></input><br>
                <h3>Neighborhood: </h3><input id="host_neighborhood" type="text" placeholder="Host Neighborhood" style="margin-bottom:3px"  value = <%= host.host_neighbourhood %>></input><br>
                <p class="error" id="h-profile-edit-error"></p>
                <input type="submit" value="Save"></input>
            </form>


          <% } else { %>
            <h3><%= message %></h3>
          <% } %>

        </div>
    	</div>
	</div>
  </body>
</html>
